[user]
	name = Max Fan
	email = git@max.fan
[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	# fsmonitor = true
[interactive]
	diffFilter = diff-so-fancy --patch
[init]
	defaultBranch = main
