snippet today "Date"
`date +%F`
endsnippet

snippet yest "Date"
`date +%F`
endsnippet

snippet beg "begin{} / end{}" bA
\begin{$1}
	$0
\end{$1}
endsnippet

snippet honor "Honor Code"
On my honor, I have neither given nor received any unauthorized aid.
endsnippet
